* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'La Belle Aurore', cursive, sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
body {
    background-image: url("./assets/webpage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


:root {
    --text-name-color: rgb(204, 147, 61);
    --link-hover-color: coral;
    --text-align-center: center;
}

.container {
    margin: 25px;
    text-align: var(--text-align-center);
}
.hero-title {
    display: inline-flex;
    flex-direction: column;
}
.text-color-main {
    color:var(--text-name-color)
}
a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
    
}
.hero-cta {
    text-align: var(--text-align-center);
    
}
.cta-btn{
    color:var(--link-hover-color)
}
#projects {
    text-align: var(--text-align-center);
}
.footer {
    text-align:var(--text-align-center)
}
.mb-4 {
    text-indent: 10px;
    text-align: var(--text-align-center)
}
